#order {
  padding: 10px;
  border: solid #343a40;
  background-color: #343a40;
  text-align: center;
  opacity: 0.9;
  color: ghostwhite;
  font-size: 20px;
}

#order h3 {
  color: #FE9000;
}

.form-group {
  padding: 5px;
  margin: 10px;
  position: relative;
}

#submit {
  background-color: #FE9000;
  color: #343a40;
  font-size: 20px;
}

#save {
  background-color: lightblue;
  color: #343a40;
  font-size: 20px;
}

div.inline {
  margin: 10px;
}

#color {
  padding: 30px;
}

div.alert {
  font-size: 16px;
}

