<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/order" routerLinkActive="active">Złóż zamówienie</a>
      <a class="nav-item nav-link" routerLink="/summary" routerLinkActive="active">Podsumowanie</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!--<div class="post-request-test">-->
<!--<h3>Test Post Request</h3>-->
<!--<button (click)="postData()">ClickMe :)</button>-->
<!--<h5>Response: {{postRequestResponse}}</h5>-->
<!--</div>-->
<div class="container">
</div>
